body {
	margin-bottom: 20px;
}

.page_title {
	text-align: center;
	position: relative;
	top: -62px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.top-bar i {
	font-size: 18px;
}

form.new_round {
	width: 90%;
	margin: 0 auto;
}